* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 38px;
    margin-right: 8px;
}

.alinhar {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

header p {
    color: rgb(92, 91, 91);
    font-size: medium;
    font-style: italic;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
}

form {
    margin-top: 30px;
    display: flex;
    width: 100%;
}

form input {
    padding: 5px;
    margin-right: 8px;
}

form button {
    background-color: rgb(171, 97, 97);
    color: aliceblue;
    padding: 3px;
    width: 90px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

form button:hover {
    background-color: brown;
}

table {
    width: 60%;
    margin-top: 15px;
}
table thead th {
    border-bottom: 2px solid burlywood;
}

table tbody td {
    display: none;
    border-bottom: 1px solid rgb(199, 199, 199);
}